#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content:space-around;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding:70px;
    font-size: 30px;
}
nav a:hover{
    background-color: #fb8500;
}

header{
    background-color: #a2d2ff;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: "Helvetica";
}

.homepage{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    background-color: #fb8500;
}

.home-img{
    grid-column: 2/ span 4;
    grid-row: 1/6;
    height: 100%;
}

.world-cup{
    height:100%;
    margin-right: 5%;
}
.fifa-game{
    height: 100%;
}

.home-content{
    grid-column: 2/6;
    grid-row: 6/6;
    text-align: center;
    letter-spacing: .1em;
    font-size: 1.5em;
    background-color: #a2d2ff;
    border-radius: 5%;
    border-color:  black;
    margin-bottom: 5%;
}

footer{
    background-color: #a2d2ff;
    color:#1d3557;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    font-family: "Helvetica";
}

.page2-home
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #fb8500;
}
.page2-img
{
    grid-column: 1/10;
    grid-row: 3/10;
}
.page2-team
{
    grid-column: 10/10;
    grid-row: 3/10;
}
.page2-content{
    grid-column: 4/10;
    grid-row: 1/8;
    text-align: center;
    padding: 25px;
    font-size: 1.5em;
    font-family: PT Serif, Helvetica, sans-serif;
    background-color: #a2d2ff;
    border-radius: 5%;
    margin: 5px;
}

.page3-home
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #fb8500;
}
.page3-img
{
    grid-column: 1/8;
    grid-row: 2/8;
    width: 200%;
}
.page3-ball
{
    grid-column: 8/8;
    grid-row: 2/4;
}
.page3-content{
    grid-column: 4/8;
    grid-row: 2/8;
    text-align: center;
    padding: 20px;
    font-family: PT Serif, Helvetica, sans-serif;
    font-size:1.5em;
    background-color: #a2d2ff;
    border-radius: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page3-train
{
    grid-column: 1/4;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-size: 2em;
    background-color: #a2d2ff;
    border-radius: 10%;
    margin-left: 5%;
    margin-right: 10%;
}

.page3-football{
    grid-column: 8/8;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-size: 2em;
    background-color: #a2d2ff;
    border-radius: 10%;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #fb8500;
    color: #1d3557;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px;
  }